:root{
  --primary: #ddd;
  --color: rgb(61, 61, 61);
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, .8);
}

body{
  font-family:  Arial, sans-serif;
  color: var(--color);
  background: rgb(235, 235, 235);
  margin: 30px 50px;
  line-height: 1.4em;
}

.btn{
  background-color: var(--color);
  color: var(--light);
  padding: 0.6rem 1.3rem; /* 1rem = 16px */
  text-decoration: none;
  border:0;
}

img {
  max-width: 100%; /* as we want images to take 100% place in their container */
}

.container {
  display: grid;
  grid-gap: 20px;
}

/*////////////// NAVIGATION ////////////////*/

.main-nav ul{
  display: grid;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a{
  background: var(--primary);
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block; /*so that it blocks the whole grid */
  box-shadow: var(--shadow);
}

.main-nav a:hover{
  background: var(--color);
  color: var(--light);
}

/* ////////////// SHOWCASE ////////////// */

.showcase-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
          "a a b"
          "a a c";
}

.showcase h1{
  font-size: 4em;
  margin-top: 0;
}

.showcase p{
  font-size: 1.3em;
  margin-top: 0;
}

.showcase {
  grid-area: a;
  min-height: 400px;
  background: url(../images/showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ddd;
  box-shadow: var(--shadow);
}

.box-a{
  grid-area: b;
}

.box-b{
  grid-area: c;
}

.top-box{
  background: var(--primary);
  padding: 20px;
  text-align: center;
  box-shadow: var(--shadow);
}

.top-box .price{
  font-size: 2rem;
}

/*/////// BOXES ///////*/

.boxes{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box{
  background: var(--primary);
  text-align: center;
  padding: 24px 16px;
  box-shadow: var(--shadow);
}

/*////////// INFO ////////////*/

.info{
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

/*////////// PORTFOLIO ///////////*/

.portfolio{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img{
  width: 100%;
  box-shadow: var(--shadow);
}

footer{
  margin-top: 2rem;
  background: var(--color);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

@media(max-width: 700px){
  .showcase-container{
    grid-template-areas: 
      "a a"
      "b c";
  }
  
  .showcase h1{
    font-size: 2.5rem;
  }

  .main-nav ul{
    grid-template-columns: 1fr;
  }

  .info{
    grid-template-columns: 1fr;
  }

  .info .btn{
    display: block;
    text-align: center;
  }

  @media(max-width:500px){
    .showcase-container{
      grid-template-areas: 
        "a"
        "b"
        "c";
    }
  }
}
